@{
    ViewData["Title"] = "Heart Page";
}

 <section class="heart">
      <div class="icons">
        <i class="fa-regular fa-heart"></i>
      </div>

      <div class="hea">
        <span>Sản phẩm yêu thích</span>
        <form class="tk" action="">
          <input type="text" placeholder="Tìm kiếm..." name="search" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <div class="box-wrapper box-container">
        @{
          if (ViewBag.favoriteProducts!=null)
          {
            foreach (var product in ViewBag.favoriteProducts){
              <div class="box heart-box">
                <span class="discount">-@product.DiscountPercentage%</span>
                <div class="image">
                  <img src="@product.Image" alt="image" />
                  <div class="box-buttons">
                    <form class="box-button" action="">
                      <button type="submit"><i class="fas fa-heart"></i></button>
                    </form>
                    <form action="" class="box-button box-middle">
                      <button type="submit">Thêm vào giỏ</button>
                    </form>
                    <form class="box-button" action="#">
                      <button type="submit"><i class="fas fa-share"></i></button>
                    </form>
                  </div>
                </div>
                <div class="content">
                  <h3>@product.ProductName</h3>
                  <div class="price">&#8363;@product.DiscountedPrice<span>&#8363;@product.OriginalPrice</span></div>
                </div>
              </div>
            }
          }
        }
      </div>

      <div class="may">
        <div>CÓ THỂ BẠN CŨNG THÍCH</div>
        <a href="./ProductView.html">Xem tất cả ></a>
      </div>

      <div class="tu3">
        @{
          int count=0;
          foreach (var product in ViewBag.products){
            if (count>4) break;
             <div class="box">
                <span class="discount">-@product.DiscountPercentage%</span>
                <div class="image">
                  <img src="@product.Image" alt="image" />
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">Thêm vào giỏ</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
                </div>
                <div class="content">
                  <h3>@product.ProductName</h3>
                  <div class="price">
                    &#8363;@product.DiscountedPrice<span>&#8363;@product.OriginalPrice</span>
                  </div>
                </div>
              </div>
              count++;
          }
        }
      </div>

      <div class="icons">
        <i class="fa-regular fa-heart"></i>
      </div>

      <div class="hea">
        <span>Hướng dẫn yêu thích</span>
        <form class="tk" action="">
          <input type="text" placeholder="Tìm kiếm..." name="search" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <div class="tutorial-box-wrapper box-container">
        @{
          if (ViewBag.favoriteTutorials != null)
          {
            foreach (var tutorial in ViewBag.favoriteTutorials){
              <div class="box">
                <video
                  class="box-video"
                  controls
                  src="@tutorial.Video"
                  muted
                ></video>

                <div class="content">
                  <h3 style="font-size: 1.8rem">@tutorial.TutorialName</h3>
                  <a href="" class="btt"><i class="fa-solid fa-heart"></i></a>
                </div>
              </div>
            }
          }
        }
      </div>
    </section>
